<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/coffee.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
    </head>
    <body>
    <div class="topnav" id="myTopnav">
        <a href="/Section" class="active">Coffee Story</a>
        <a href="/Lab">Lab</a>
        <a href="/Fact">Fact</a>
        <a href="/Posts">Forum</a>
        <a href="/Beans"><img src="/static/img/bean.png" style="width:5%"></a>
        <a href="/logout" class="login">{{loginstatus}}</a> 
        <p>{{nameu}}</p>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>

    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>

    <main role="main" class="container extra-bottom">
        <h1 id="AddTask" class="mt-5">Coffee Beans</h1>
    </main>
        

    <div id="result"></div>
    <div id="container">    
    <!--CoffeeDrink Table-->
    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th class="BeanId">BeanId</th>
            <th class="FarmName">FarmName</th>
            <th class="Species">Species</th>
            <th class="Color">Color</th>
            <th class="More">More</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.BeanId}}</td>
                <td>{{item.FarmName}}</td>
                <td>{{item.Species}}</td>
                <td>{{item.Color}}</td>
                <td><button class="img_btn search-bean" value={{item.BeanId}}>&#128269;</button></td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>
    </div>



    <footer class="footer">
      <div class="container">
            <p class="text-muted"><small>App developed for CS411 UIUC by <a href="https://github.com/cs411-su22/su22-cs411-team021-aplusright">Team-021: A+right</a></small></p>
      </div>
    </footer>
  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>